html, body {
   overflow-x: hidden;   
   overflow-y: hidden;     
   width: 100%;
   height: 100%;
   margin: 0;
   padding: 0;
}

div img {
   background-size: contain;
   width: 100vw;  /* Full width of the viewport */
   height: 100vh; /* Full height of the viewport */
   object-fit: cover; /* Ensures the image covers the div fully without distortion */
   display: block; /* Remove inline spacing (if any) */
   opacity: 0.8;  /* Adjust this value to control opacity (0 is fully transparent, 1 is fully opaque) */
}

navbar{
   position: absolute;
   top: 0;
   width: 100%;
   background-color:rgba(0, 0, 0, 0.464); 
   padding: 10px 0;
   z-index: 10;
}

nav ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: center; /* Center the navigation items */
}

nav {
   display: flex;
   justify-content: space-around; /* Space between left and right nav */
   align-items: center; /* Align items vertically */
}

nav ul li {
   margin: 0 20px; /* Spacing between the items */
}

nav ul li a {
   text-decoration: none;
   color:white;
   font-size: 18px;
   font-weight: bold;
}


.right-nav {
   list-style-type: none;
   margin: 0;
   padding: 0;
}

.right-nav li {
   margin: 0 10px; /* Spacing on the right */
}





