body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    margin: 0;
}

.signup-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px; /* Set a fixed width for the form */
}

h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="email"],
input[type="text"] {
    width: 90%; /* Full width */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 9px;

}

button {
    width: 90%; /* Full width */
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 9px;
    cursor: pointer;
    margin-left: 10px;
    font-size: 15px;
}

button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

p {
    text-align: center;
}

p a {
    text-decoration: none;
    color: #007bff;
}

p a:hover {
    text-decoration: underline;
}
